*~
target
.classpath
.project
.settings
*orig
.springBeans
*tmp/
*backup
*Backup
log.xml
nbactions.xml
*bower_components/
.externalToolBuilders
**/bin/
!**/package/bin/
*reports/
*lib-cov/
*dist/
*node_modules/
*doc/
